.Puppy__Card {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3px;
    background-color: var(--primary-color);
    border: solid 2px black;
    font-size: 1.8rem;
    width: 60rem;
    /* width: fit-content; */
    height: 40rem;
    border-radius: 15px 0 15px 0;
    overflow: hidden;
    margin-top: 3rem;
}

.Puppy__image {
    margin: 5px;
    width: 50%;
    /* height:100%; */
    object-fit: cover;
    border-radius: 15px 0 0 0;
}

.Puppy__info {
   list-style: none;
   list-style-position: outside;
   text-align: left;
}

.Puppy__info li {
    margin: 3rem 0;
 }

 .Puppy__info b {
   color: whitesmoke;
   text-shadow: 0 0 6px rgba(0, 0, 0, 0.0.75);
 }

 .Puppy__info li:last-child {
    margin-bottom: 0;
 }

 .Puppy__controls {
    /* background-color: var(--contrast-color); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 }

 .Puppy__controls button {
    width: 9rem;
 }

 .Puppy__closeWindow {
   position: absolute;
   right: 1rem;
   top: 1rem;
   font-size: 1.4rem;
   background-color: rgba(255,255,255,0.5);
   border: solid 1px white;
   padding:2px;
   transition: all 0.2s;
   text-align: center;
 }

 .Puppy__closeWindow:hover {
   cursor: pointer;
   background-color: rgba(255,255,255,0.85);
 }

 .Puppy__button {
   padding: 1.2rem 0.6rem;
   margin-right: 0.6rem;
 }

 .Puppy__button:hover {
   cursor: pointer;
 }

 .Puppy__info--updating-true {
   display:none;
 }

 .Puppy__info--updating-false {
   display: blocK;
 }

 .Puppy__info--updateInput-true {
   display: blocK;
   width: 100%;
 }

 .Puppy__info--updateInput-true input {
   height: 2.4rem;
 }

 .Puppy__info--updateInputButton {
   padding: 1rem;
   background-color: rgb(255, 253, 158);
   font-size: 1.5rem;
 }

 .Puppy__info--updateInputButton:hover {
   cursor: pointer;
 }

 .Puppy__info--updateInput-false {
   display: none;
 }