/* .Bifurcation {
    background-color: var(--dark-bg-color);
    height: 80vh;
    min-width: 200px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
} */

.PuppyList_Errormessage {
    text-align: center;
    background-color: crimson;
    color:whitesmoke;
    padding: 1.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: crimson 0px 0px 20px;
}