:root {
  --light-bg-color: #F6E7D8;
  --dark-bg-color: #F68989;
  --primary-color: #C65D7B;
  --secondary-color: #874356;
  --main-black: rgb(25, 0, 0);
}


/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App__main {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-black);
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
