:root {
  --light-bg-color: #F6E7D8;
  --dark-bg-color: #F68989;
  --primary-color: #C65D7B;
  --secondary-color: #874356;
  --main-black: rgb(25, 0, 0);
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

.App__main {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: var(--main-black);
}